body{
    background-color: beige;
    width: 400vh;
    height: 400vh;
    overflow: scroll;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin: 30px;
}
.daily-produce{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSR9CD_32IG2pQ9409givcpJj2ugJnqcsU8tvDJhiziPHq4SiNYnZ6VtlGuXyT8k0G1cXA&usqp=CAU);
    background-repeat: no-repeat;
    background-size: auto;
}
.monthly-earnings{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQj0GikjvvQ_boNf8HDQgWiJn3B_9T_AhskPQ&usqp=CAU);
    background-repeat: no-repeat;
    background-size: contain;
    align-self: center;   
}
h2{
    font-style: oblique;
    font-weight: bolder;
}
.leap{
    box-shadow: 2px 2px 5px aqua;
    border-radius: 8px;
    padding: 8px;
}